<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="active"><a ng-href="#" ng-click="makeCalls()"><span ng-show="loading">Getting status...</span><span ng-hide="loading">Get Tahoe Status</span></a></li>
		<li ><a ng-href="https://github.com/nerdylocks/liftopia">GIT</a></li>
	</ul>
	<h3 class="text-muted">Liftopia Technical Excersice</h3>
</div>

<div class="">

	<div class="row marketing">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Snow Fall</th>
					<th>Temprature</th>
					<th>Time Checked</th>
					<th>Open Ski Stores</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="stat in tahoestat">
					<td>{{stat.snow_fall | number:2}} ft</td>
					<td>{{stat.temp}} F</td>
					<td>{{stat.timestamp | date:'short'}}</td>
					<td> <span class="label label-primary" ng-repeat="s in stat.stores">{{s}}</span> </td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
